<div class="container-fluid">
  <kendo-grid
      [data]="gridView"
      [sortable]="{
        allowUnsort: false
      }"
      [sort]="sort"
      (sortChange)="sortChange($event)"
      (pageChange)="pageChange($event)"
      [navigable]="true"
      [pageSize] = "pageSize"
      [skip] = "skip"
      [pageable] = "{
        buttonCount: buttonCount,
        info: info,
        type: 'numeric',
        previousNext: previousNext,
        position: 'bottom'
      }"
      [filter] = "{
        logic: 'and',
        filters: [{field: 'name', operator: 'contains', value: ''}]
      }"
      filterable = "row"
      (dataStateChange)="dataStateChange($event)"
      >
      <ng-template kendoGridToolbarTemplate>
        <button kendoGridPDFCommand icon="file-pdf" [primary]="true">Export to PDF</button>
        <button type="button" kendoGridExcelCommand icon="file-excel">
          Export to Excel
        </button>
      </ng-template>

      <!-- Scroll
        scrollable="virtual"
      [rowHeight]="36"
      [height]="500"
    -->
      <!-- Paging
        [pageable] = "{
        buttonCount: buttonCount,
        info: info,
        type: 'numeric',
        previousNext: previousNext,
        position: 'bottom'
      }"
     -->
    <kendo-grid-column field="dishId" title="ID" [width]="50" [filterable]="false">
    </kendo-grid-column>
    <kendo-grid-column field="name" title="Tên món" [width]="200">
    </kendo-grid-column>
    <kendo-grid-column field="price" title="Giá thành" [width]="150" >
    </kendo-grid-column>
    <kendo-grid-column field="category" title="Phân loại" [width]="150">
      <ng-template kendoGridCellTemplate let-dataItem>
          <div [ngSwitch]="dataItem.category">
              <div *ngSwitchCase="1">Món ăn</div>
              <div *ngSwitchCase="2">Combo</div>
              <div *ngSwitchCase="3">Thức uống</div>
          </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="image" title="Hình ảnh" [width]="220" [filterable]="false">
      <ng-template kendoGridCellTemplate let-dataItem>

        <img src="../../../assets{{dataItem.image}}" [height]="100">
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="description" title="Mô tả">
    </kendo-grid-column>
    <!-- <kendo-grid-column field="locked" title="Đã khóa" [width]="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.locked" disabled />
      </ng-template>
    </kendo-grid-column> -->
    <kendo-grid-pdf
        fileName="DishesList.pdf"
        [allPages]="true"
        paperSize="A4"
        [repeatHeaders]="true"
        [landscape]="true"
      >
        <kendo-grid-pdf-margin
          top="2cm"
          left="1cm"
          right="1cm"
          bottom="2cm"
        ></kendo-grid-pdf-margin>
        <ng-template
          kendoGridPDFTemplate
          let-pageNum="pageNum"
          let-totalPages="totalPages"
        >
          <div class="page-template">
            <div class="header">
              <div style="float: right">
                Page {{ pageNum }} of {{ totalPages }}
              </div>
            </div>
            <div class="footer">Page {{ pageNum }} of {{ totalPages }}</div>
          </div>
        </ng-template>
      </kendo-grid-pdf>
      <kendo-grid-excel fileName="DishesList.xlsx" [fetchData]="allData"></kendo-grid-excel>
  </kendo-grid>

</div>
